*{
    
    max-width: 1024px;
    margin: 0 auto; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 125px;
    padding: 150px 0;
}

ul{
    list-style-type: none;
}
li{
    float: left;
    padding: 1%;
}
li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}
li a:hover{
    color: rgb(255, 10, 51);
}
.contain {
    clear: both;
    text-align: justify;
    line-height: 30px;
    font-size: 19px;
    padding: 150px 0;
}
p{
    padding: 20px 0;
    text-align: justify;
}

.her {
    width: 60%;
}
.her li {
    font-size: 30px;
    color: rgb(105, 105, 105);
    font-weight: 100;
    
}
.her li:first-child {
    font-size: 40px;
    padding-bottom: 20px;
    color: black;
    
}

.her ul img { 
    padding-left: 20px;
}

.her ul {
    padding-bottom: 50px;
}